extends layout

block head
  link(rel="stylesheet", href="dist/css/auth/auth.css")

block content
  h1 JS Framework

  #root

  ul
    li login
    li signup
    li forgot password

block footer
  script(src='dist/js/auth.bundle.js')
