doctype html
html(lang="en")
  head
    include partials/head.pug
    block head
  body
    header
      include partials/header.pug

    .notifications
      if notifications
        each notification in notifications
          p #{notification.message}

    .content
      block content

    footer
      .copyright
        include partials/footer.pug
        block footer
