extends layout

block head
  link(rel="stylesheet", href="dist/css/messages/messages.css")

block content
  h1 JS Framework

  #root

  ul
    li recieved
    li sent
    li drafts
    li scheduled

block footer
  script(src='dist/js/messages.bundle.js')
