extends layout

block head
  link(rel="stylesheet", href="dist/css/profile/profile.css")

block content
  h1 JS Framework

  #root

  ul
    li edit profile
    li change password
    li delete account

block footer
  script(src='dist/js/profile.bundle.js')
